# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
.venv/
env/
*.env
.DS_Store
venv 
venv/
.venv/
__pycache__/
*.pyc
node_modules/
dist/
build/
.env

# Node/React/Vite
node_modules/
dist/
build/
*.local
*.lock

# System
*.swp
*.bak
Thumbs.db
.vscode/

repo_part1.txt
repo_part2.txt
repo_part3.txt
repo_part4.txt
repo_tree.txt